<div id="mySidenav3" class="sidenav" *ngIf='korisnikUlogovan.tip=="ag"'>
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/azuriranjeKorisnika/1" class="korlink">
    <img src='/../../assets/korisnici/{{korisnikUlogovan.slika}}' width="30px" height="30px">&nbsp;&nbsp;{{korisnikUlogovan.korisnicko_ime}}
  </a>
  <a routerLink="/grafikoni">
    <img src='/../../assets/razno/homeicon.png' width="15px" height="15px">&nbsp;&nbsp;Pocetna
  </a>
  <div class="dropdown">
    <a class='dropbtn' (click)='prikaziDropdownMeniNekr()'>
      <img src='/../../assets/razno/nekricon.jpg' width="15px" height="15px">&nbsp;&nbsp;Nekretnine
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src='/../../assets/razno/da.png' width="15px" height="15px">
    </a>
    <div class="dropdown-content" id='dropdownCont4'>
      <a routerLink='/zahteviNekretnina'>&nbsp;&nbsp;&nbsp;Zahtevi za odobravanje</a>
      <a routerLink='/mojeNekretnine'>&nbsp;&nbsp;&nbsp;Nekretnine agencije</a>
      <a routerLink='/dodajNekretninu'>&nbsp;&nbsp;&nbsp;Dodaj nekretninu</a>
      <a routerLink='/pretraga'>&nbsp;&nbsp;&nbsp;Pregled i pretraga</a>
      <a routerLink='/promovisanje'>&nbsp;&nbsp;&nbsp;Promovisanje nekretnina</a>
    </div>
  </div>
  <a routerLink="/ugovoreneProdaje">
    <img src='/../../assets/razno/saleicon.png' width="15px" height="15px">&nbsp;&nbsp;Ugovorene prodaje
  </a>
  <a routerLink="/inbox">
      <img src='/../../assets/razno/inboxicon.png' width="15px" height="15px">&nbsp;&nbsp;Inbox
    </a>
  <div class="dropdown">
      <a class='dropbtn' (click)='prikaziDropdownMeniPod()'>
        <img src='/../../assets/razno/setticon.png' width="15px" height="15px">&nbsp;&nbsp;Podesavanja 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src='/../../assets/razno/da.png' width="15px" height="15px">
      </a>
      <div class="dropdown-content" id="dropdownCont2">
          <a routerLink="/azuriranjeKorisnika/1">&nbsp;&nbsp;&nbsp;Azuriranje podataka</a>
          <a routerLink="/promenaLozinke/1" class='aktivan'>&nbsp;&nbsp;&nbsp;Promena lozinke</a>
      </div>
  </div>
    <span>
    <a (click)='odjaviSe()' >
      <img src='/../../assets/razno/logouticon.png' width="15px" height="15px">&nbsp;&nbsp;Odjavi se
    </a>
  </span>
</div>

<div id="mySidenav2" class="sidenav"  *ngIf='korisnikUlogovan.tip=="admin"'>
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/azuriranjeKorisnika/1" class="korlink">
    <img src='/../../assets/korisnici/{{korisnikUlogovan.slika}}' width="30px" height="30px">&nbsp;&nbsp;{{korisnikUlogovan.korisnicko_ime}}
  </a>
  <a routerLink="/grafikoni">
    <img src='/../../assets/razno/homeicon.png' width="15px" height="15px">&nbsp;&nbsp;Pocetna
  </a>
  <div class="dropdown">
    <a class='dropbtn' (click)='prikaziDropdownMeniZaht()'>
      <img src='/../../assets/razno/yesnoicon.png' width="15px" height="15px">&nbsp;&nbsp;Zahtevi
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
      <img src='/../../assets/razno/da.png' width="15px" height="15px">
    </a>
    <div class="dropdown-content" id='dropdownCont'>
      <a routerLink="/zahteviKorisnik" >&nbsp;&nbsp;&nbsp;Za odobravanje korisnika</a>
      <a routerLink='/zahteviNekretnina'>&nbsp;&nbsp;&nbsp;Za odobravanje nekretnina</a>
    </div>
  </div>
  <div class="dropdown">
    <a class='dropbtn' (click)='prikaziDropdownMeniKor()'>
      <img src='/../../assets/razno/usericon.png' width="15px" height="15px">&nbsp;&nbsp;Korisnici
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src='/../../assets/razno/da.png' width="15px" height="15px">
    </a>
    <div class="dropdown-content" id='dropdownCont3'>
      <a routerLink="/pregledKorisnika" >&nbsp;&nbsp;&nbsp;Pregled i izmena korisnika</a>
      <a routerLink='/signup'>&nbsp;&nbsp;&nbsp;Dodaj korisnika</a>
    </div>
  </div>
  <div class="dropdown">
    <a class='dropbtn' (click)='prikaziDropdownMeniNekr()'>
      <img src='/../../assets/razno/nekricon.jpg' width="15px" height="15px">&nbsp;&nbsp;Nekretnine
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src='/../../assets/razno/da.png' width="15px" height="15px">
    </a>
    <div class="dropdown-content" id='dropdownCont4'>
      <a routerLink="/pretraga" >&nbsp;&nbsp;&nbsp;Pregled i pretraga</a>
      <a routerLink='/dodajNekretninu'>&nbsp;&nbsp;&nbsp;Dodaj nekretninu</a>
    </div>
  </div>
  <a routerLink="/ugovoreneProdaje">
    <img src='/../../assets/razno/saleicon.png' width="15px" height="15px">&nbsp;&nbsp;Ugovorene prodaje
  </a>
  <div class="dropdown">
      <a class='dropbtn' (click)='prikaziDropdownMeniPod()'>
        <img src='/../../assets/razno/setticon.png' width="15px" height="15px">&nbsp;&nbsp;Podesavanja 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src='/../../assets/razno/da.png' width="15px" height="15px">
      </a>
      <div class="dropdown-content" id="dropdownCont2">
        <a routerLink="/azuriranjeKorisnika/1">&nbsp;&nbsp;&nbsp;Azuriranje podataka</a>
        <a routerLink="/promenaLozinke" class='aktivan'>&nbsp;&nbsp;&nbsp;Promena lozinke</a>
      </div>
  </div>
    <span>
    <a (click)='odjaviSe()' >
      <img src='/../../assets/razno/logouticon.png' width="15px" height="15px">&nbsp;&nbsp;Odjavi se
    </a>
  </span>
</div>

<div id="mySidenav" class="sidenav"  *ngIf='korisnikUlogovan.tip=="reg"'>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/azuriranjeKorisnika/1" class="korlink">
      <img src='/../../assets/korisnici/{{korisnikUlogovan.slika}}' width="30px" height="30px">&nbsp;&nbsp;{{korisnikUlogovan.korisnicko_ime}}
    </a>
    <a routerLink="/pretraga">
      <img src='/../../assets/razno/homeicon.png' width="15px" height="15px">&nbsp;&nbsp;Pocetna
    </a>
    <div class="dropdown">
      <a class='dropbtn' (click)='prikaziDropdownMeniNekr()'>
        <img src='/../../assets/razno/nekricon.jpg' width="15px" height="15px">&nbsp;&nbsp;Nekretnine
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src='/../../assets/razno/da.png' width="15px" height="15px">
      </a>
      <div class="dropdown-content" id='dropdownCont4'>
        <a routerLink="/mojeNekretnine" >&nbsp;&nbsp;&nbsp;Moje nekretnine</a>
        <a routerLink='/dodajNekretninu'>&nbsp;&nbsp;&nbsp;Dodaj nekretninu</a>
      </div>
    </div>
    <a routerLink='/inbox'>
      <img src='/../../assets/razno/inboxicon.png' width="15px" height="15px">&nbsp;&nbsp;Inbox
    </a>
    <div class="dropdown">
        <a class='dropbtn' (click)='prikaziDropdownMeniPod()'>
          <img src='/../../assets/razno/setticon.png' width="15px" height="15px">&nbsp;&nbsp;Podesavanja 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src='/../../assets/razno/da.png' width="15px" height="15px">
        </a>
        <div class="dropdown-content" id="dropdownCont2">
          <a routerLink='/azuriranjeKorisnika/1'>&nbsp;&nbsp;&nbsp;Azuriranje podataka</a>
          <a routerLink="/promenaLozinke/1" class='aktivan'>&nbsp;&nbsp;&nbsp;Promena lozinke</a>
        </div>
    </div>
      <span>
      <a (click)='odjaviSe()' >
        <img src='/../../assets/razno/logouticon.png' width="15px" height="15px">&nbsp;&nbsp;Odjavi se
      </a>
    </span>
</div>
  
  <!-- Use any element to open the sidenav -->
  <div class="levo">
  <span (click)="openNav()">&#9776;</span>
  </div>

  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">

            <div class="promLoz">
                <h2>Promena lozinke</h2>
                <hr color="black" size="2px">
                <form ngNativeValidate #plForm>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;Stara lozinka:<br>
                    &nbsp;&nbsp;&nbsp;
                    <input *ngIf='!show1' type="password" name="stLozP" [(ngModel)]="staraLoz">
                    <input *ngIf='show1' type="text" name="stLozT" autocomplete="off" [(ngModel)]="staraLoz">
                    <button class="oko" (click)='toggle(1)' id='oko1'></button><br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Nova lozinka:<br>
                    &nbsp;&nbsp;&nbsp;
                    <input *ngIf='!show2' type="password" name="noLozP" [(ngModel)]="novaLoz"  required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,24}$">
                    <input *ngIf='show2' type="text" name="noLozT" [(ngModel)]="novaLoz" autocomplete="off"  required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,24}$">
                    <button class="oko" (click)='toggle(2)' id='oko2'></button><br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Potvrda nove lozinke:<br>
                    &nbsp;&nbsp;&nbsp;
                    <input *ngIf='!show3' type="password" name="pNoLozP" [(ngModel)]="pNovaLoz"  required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,24}$">
                    <input *ngIf='show3' type="text" name="pNoLozT" autocomplete="off" [(ngModel)]="pNovaLoz"  required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,24}$">
                    <button class="oko" (click)='toggle(3)' id='oko3'></button><br>
                    <br>
                    <div class="btnPromOtk">
                        <button name="submit" class="btnProm"  type="submit" (click)="plForm.checkValidity()? promeni() : null">
                            Promeni lozinku
                    </button><br>
                   
                    </div>
                    <br/>
                </form>
                <div class="btnPromOtk"><button (click)="otkaziPromLoz()">
                  <div *ngIf='sif=="1"'>Otkazi - Nazad na pocetnu</div>
                  <div *ngIf='sif=="0"'>Otkazi - Nazad na pregled korisnika</div>

                </button></div>

            </div>
</div>
<notifier-container></notifier-container>
